:root {
  /* Layout */
  --mobile-width: 375px;
  --desktop-width: 1440px;

  /* Colors */
  --primary-bright-orange: hsl(31, 77%, 52%);
  --primary-dark-cyan: hsl(184, 100%, 22%);
  --primary-very-dark-cyan: hsl(179, 100%, 13%);

  --neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
  --neutral-very-light-gray: hsl(0, 0%, 95%);

  /* Typography */
  --body-font-size: 15px;

  /* Fonts */
  --body-font-family: "Lexend Deca", sans-serif;
  --body-font-weight: 400;

  --heading-font-family: "Big Shoulders Display", sans-serif;
  --heading-font-weight: 700;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  background-color: var(--neutral-very-light-gray);
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-size: 40px;
}

section {
  width: 33%;
  padding: 2rem;
}

#card {
  position: relative;
  height: 500px;
  width: 900px;
  display: flex;
  border-radius: 15px;
}

#section-1 {
  background: var(--primary-bright-orange);
  border-radius: 10px 0 0 10px;
}

#section-1 button {
  color: var(--primary-bright-orange);
}

#section-2 {
   background: var(--primary-dark-cyan);
}

#section-2 button {
  color: var(--primary-dark-cyan);
}

#section-3 {
   background: var(--primary-very-dark-cyan);
   border-radius: 0 10px 10px 0;
}

#section-3 button {
  color: var(--primary-very-dark-cyan);
}
#section-1 button:hover, #section-2 button:hover, #section-3 button:hover {
  color: white;
}

button {
  background-color: white;
  border: 1px solid white;
   border-radius: 50px;
   padding: 1rem 2rem;
   color: inherit;
   cursor: pointer;
   align-self: baseline;
   position: absolute;
   bottom: 3rem;
}

button:hover {
  background-color: inherit;
}
